<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='createFamily.css' ) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600;1,700&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>
</head>
<body>

    <main>
        <form method="post" action="{{ url_for('create_family') }}" novalidate enctype="multipart/form-data">
            {{createfam.hidden_tag()}}
        <div class ="photo-section">
            <div class ="family_photo">
                <div class ="family_cover_img" id="family-cover-photo">
                    <img id="selected-cover-img" src ="https://www.unitelegalservices.org/media/1057/family_members.jpg">    
                    {{createfam.family_cover_input()}}
                    {#<input type="file" id="family-cover-input" style="display:none;" accept="image/*">#}
                </div> 
                
                <div class="profile_img" id="family-profile-photo"> 
                    <img id="selected-profile-img" src ="https://www.shutterstock.com/image-photo/father-girl-selfie-portrait-peace-260nw-2348830813.jpg">
                    {{createfam.family_profile_input()}}
                    {#<input type="file" id="family-profile-input" style="display:none;" accept="image/*">#}
                </div>   
            </div>
        </div>
        
        <div class="family-info">
        <div> 
            {{createfam.familyname()}}
            {#<input type="text" class="family_name" id="family-name" placeholder="Family Name">#}
        </div>
        <div> 
            {{createfam.bio()}}
            {#<input class ="family_bio" type="text" id="family-bio" placeholder="what is the best thing in you as a family?">#}
        </div>
    </div>
            


        <div class="container">
            <div class="left">

                
            </div>
            <!--start of middle-->
            <div class="middle">

                <!-- Feed -->
                <div class="feeds">
                    {{createfam.createfam()}}
                    {#<label class="btn btn-primary" id="submit-button" type="submit">Create Family</label>#}
                </div>
                <!-- end Feed -->
            <!--end of middle-->
            </div>
            <!-- RIGHT  -->
            <div class="right">
                
            <!-- end of right  -->
            </div>
        </div>

    </form>
    </main>
    <script src="{{ url_for('static', filename='createFamily.js' ) }}"></script>
    
</body>

</html>