<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
    <link rel="stylesheet" href="{{url_for('static', filename='familypage.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
=
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600;1,700&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="{{url_for('static',filename='images/icon.png')}}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $(document).on('click', '.unFollow', function(event){
            event.preventDefault();
            var button = $(this);
            var Id = button.data('followed_fam.id');
            var form = button.closest('form');
            
            $.ajax({
                type: 'POST',
                url: '/unfollow_family',
                data: form.serialize(),
                success: function(response){
                    if (response.status === 'unfollowed') {
                        button.text('Unfollowed');
                        button.css('cursor', 'default');
                        button.css('background-color', '#9e98b3');
                        button.prop('disabled', true);

                    } else {
                        alert("Failed to unfollow.");
                    }
                },
                error: function(xhr, status, error){
                    console.error("Error occurred:", error);
                    alert("Error occurred while unfollowing.");
                }
            });
        });
        //follow
    });
</script>
</head>
<body id="blur">
    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {#generates a hidden field that includes a token that is used to protect the form against CSRF attacks#}
            {{form.hidden_tag()}}
            <p>
                {{ form.cover_photo.label }}<br>
                {{ form.cover_photo() }}
            </p>
            <p>
                {{ form.profile_photo.label }}<br>
                {{ form.profile_photo() }}
            </p>
            <p>
                {{ form.bio.label }}<br>
                {{ form.bio(cols=32, rows=4) }}
            </p>
            <p>
                {{ form.submitedit() }}
            </p>
        </form>
    </div>
  </div>
    <nav>
        <div class="container">
            <h2 class="log"><a href="{{ url_for('feedPage', username=current_user.username) }}">Reunion</a></h2>
            <div class="search-bar">
                <span class="lucide--search"></span>
                <input type="search" placeholder="Search for Families or Friends">
            </div>
            <div class="create">
                <span class="icon-follow icon-park-outline--family"></span>
                {% if current_user.FamilyID == user_family.id %}
                <label for="create-post" class="btn btn-primary">Create</label>
                <label for="create-post" class="btn btn-primary"><button  class="button-edit" onclick="openModal()">Edit</button></label>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
        <div class ="photo-section">
            <div class ="family_photo">
                <div class ="family_cover_img">
                    <img src = "{{user_family.coverphoto}}" alt="Add image">    
                </div> 

                <div class="profile_img"> 
                    <img src ="{{user_family.profilephoto}}" alt="Add image">
                </div>   
             
            </div>
        </div>

        <div class ="family_name"> 
            <h3>{{user_family.familyname}}</h3>
            <p class="family_bio">{{user_family.bio}}</p>
            <p>{{user_family.creationdate}}</p>
        </div>


        <div class="container">
            <div class="left">

                <div class="messages">
                    <div class="heading">
                        <h4>Family Members</h4>
                    </div>
                    {% for member in family_members %}
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{member.photo}}" alt="error">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5><a href="{{ url_for('user', username=member.username) }}">{{member.username}}</a></h5>
                            <p class="text-bold">{{member.bio}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <!--start of middle-->
            <div class="middle">
                <!-- Feed -->
                <div class="feeds">
                    {% for post in posts %}
                        {% set member = post[0] %}
                        {% set content = post[1] %}
                        {% set photo = post[2] %}
                        


                    <!-- post -->
                    {%if content.Type == 1%}

                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{user_family.profilephoto}}">
                                </div>
                                <div class="info">
                                    <h3>{{user_family.familyname}}</h3>
                                    <small>{{content.timestamp}}</small>
                                </div>
                            </div>
                            
                            {% if current_user.FamilyID == user_family.id %}
                            <div class = "post-icons">
                                <div class="edit-post" data-content-id = "{{content.id}}" data-content-description = "{{content.description}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#9e9e9e" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>                                </div>
                                <div class="delete-post" data-content-id = "{{content.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                            <div class="photo">
                                <img  src="{{photo.photoUrl}}" alt="error">

                               
                            </div>
                                         
                            <div class="caption">
                                <p><b>{{member.username}}</b> {{content.description}}</p>
                            </div>
                            
                    </div>

                    {% endif %}
                    <!--Album -->
                    {%if content.Type == 0%}

                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{user_family.profilephoto}}">
                                    <h1>{{member.familyname}}</h1>
                                </div>
                                <div class="info">
                                    <h3>{{ user_family.familyname }}</h3>
                                    <small>{{ content.timestamp }}</small>
                                </div>
                            </div>

                            {% if current_user.FamilyID == user_family.id %}
                            <div class = "post-icons">
                                <div class="edit-post" data-content-id = "{{content.id}}" data-content-description = "{{content.description}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#9e9e9e" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>                                </div>
                                <div class="delete-post" data-content-id = "{{content.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                </div>
                            </div>
                            {% endif %}



                            
                        </div>
                        <div class="album-caption">
                            <h4> {{ content.description }} </h4>
                        </div>
                            <div class="photo album-photo">
                                <img src="{{ photo.photoUrl }}">
                            </div>                            
                    </div>
                {% endif %}

                    <!-- feed 1 end  -->

                    {% endfor %}
                </div>
                <!-- end Feed -->
            <!--end of middle-->
            </div>

            <div id="delete-post-modal" class="modal">
                <div class="modal-content">
                    <form method = "POST">
                        {{deleteForm.hidden_tag()}}

                        <p>Are you sure you want to delete the post?</p>
                        {{deleteForm.submit(id="confirm-delete", class="confirm-btn", value = "Confirm") }}

                        <a id="cancel-delete" class ="cancel-btn">Cancel</a>

                        {{deleteForm.contentID(type = "hidden", class="To-Delete-Content") }}

                    </form>
                </div>
            </div>

            <div id="edit-post-modal" class="modal">
                <div class="modal-content">
                    <form method = "POST" class="edit-post-form" enctype="multipart/form-data" >
                        {{editContentForm.hidden_tag()}}


    
                        {{editContentForm.description(class="edit-post-form-description")
                        }}
                        
                        <div class="new-image-edit">

                            <label for="image">New image:</label>
                            <span class="charm--image btn post-images">
                                {{editContentForm.image(accept="image/*", style="display: hidden;", id="post-images")}}
                            </span>
                    </div>


                            
                        <div class="new-visibility-edit">

                            <label for ="visibility">Visibility:</label>
                            {{editContentForm.visibility(id="visibility" , class = "add-post-visibility")}}
                        </div>
    


                        <div class="btns">

                            {{editContentForm.submit2(id = "confirm-edit" ,class="btn btn-primary")}}
                            {{editContentForm.contentID(type = "hidden", class="To-Edit-Content") }}

                            <a class="btn btn-danger" id="cancel-edit"> cancel </a>

                        </div>


                    </form>
                </div>
            </div>
            <!-- RIGHT  -->
            <div class="right">
                <div class="messages">
                    <div class="heading">
                        <h4>Followings</h4>
                    </div>
                    {% for followed_fam in followed_families %}
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{followed_fam.profilephoto}}" alt="error">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5><a href="{{ url_for('family_page', family_id=followed_fam.id) }}" >{{followed_fam.familyname}}</a></h5>
                            <form class="unfollow" method="POST">
                                <input type="hidden" name="name" id="name" value="{{ followed_fam.id }}">
                                <button type="button" class="btn btn-primary unFollow" data-post-id="{{ followed_fam.id }}"> Unfollow </button>
                            </form>
                            <p class="text-bold">{{followed_fam.bio}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <!-- end of right  -->
            </div>
        </div>        
    </main>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementsByClassName("button")[0];
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal
        function openModal() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        function closeModal() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        
        // Function to handle form submission
        function submitForm() {
          var name = document.getElementById("name").value;
          var email = document.getElementById("email").value;
          
          // You can handle form submission here, for now just log the values
          console.log("Name: " + name);
          console.log("Email: " + email);
          
          // Close the modal after submission (you can remove this if you want)
          closeModal();
        }


        const deletePostBtns = document.querySelectorAll('.delete-post');
        const dModal = document.getElementById('delete-post-modal');
        const confirmBtn = document.getElementById('confirm-delete');
        const cancelBtn = document.getElementById('cancel-delete');
        const cancelEditBtn = document.getElementById('cancel-edit');

        var contentID = 0;
    
        deletePostBtns.forEach(function(deletePostBtn) {
            deletePostBtn.addEventListener('click', function () {

                contentID = deletePostBtn.getAttribute('data-content-id');
                var deleteBtn = document.querySelector('.To-Delete-Content')
                
                deleteBtn.setAttribute('value', contentID);


                dModal.style.display = 'block';
            });
        });
    
    
        cancelBtn.addEventListener('click', function () {
            dModal.style.display = 'none';
        });
    
    
        // Edit post
    
            const editPostBtns = document.querySelectorAll('.edit-post');
            const eModal = document.getElementById('edit-post-modal');
            const descriptionField = document.querySelector('.edit-post-form-description')
    
        
            editPostBtns.forEach(function(editPostBtn) {
            editPostBtn.addEventListener('click', function () {

                contentID = editPostBtn.getAttribute('data-content-id');
                contentDescription = editPostBtn.getAttribute('data-content-description');


                var editBtn = document.querySelector('.To-Edit-Content');

                descriptionField.setAttribute('value', contentDescription);


                editBtn.setAttribute('value', contentID);
                eModal.style.display = 'block';
                

                });
            });
        
        
            cancelEditBtn.addEventListener('click', function () {
                eModal.style.display = 'none';
            });
    
            document.addEventListener('DOMContentLoaded', function() {
                var iconFollow = document.querySelector('.icon-follow');
                var leftElement = document.querySelector('.left');
                var rightElement = document.querySelector('.right');
                var dimmingOverlay = document.body.style;
            
                iconFollow.addEventListener('click', function() {
                    // Toggle display of left and right elements
                    leftElement.style.display = leftElement.style.display === 'none' ? 'block' : 'none';
                    rightElement.style.display = rightElement.style.display === 'none' ? 'block' : 'none';
            
                    // Toggle dimming effect by adjusting opacity of the body's ::before pseudo-element
                    dimmingOverlay.setProperty('--overlay-opacity', dimmingOverlay.getPropertyValue('--overlay-opacity') === '0' ? '0.5' : '0');
                });
            });
            
              
    
    
    
    </script>
</body>

</html>

