<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
    <link rel="stylesheet" href="{{url_for('static', filename='familypage.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="container">
            <h2 class="log">Reunion</h2>
            <div class="search-bar">
                <span class="lucide--search"></span>
                <input type="search" placeholder="Search for Families or Friends">
            </div>
            <div class="create">
                <label for="create-post" class="btn btn-primary">Create</label>
                <div class="profile-photo">
                    <img src="./images/profile1.png">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class ="photo-section">
            <div class ="family_photo">
                <div class ="family_cover_img">
                    <img src ="https://www.unitelegalservices.org/media/1057/family_members.jpg">    
                </div> 

                <div class="profile_img"> 
                    <img src ="https://www.shutterstock.com/image-photo/father-girl-selfie-portrait-peace-260nw-2348830813.jpg">
                </div>   
             
        </div>

        <div class ="family_name"> 
            <h3>Elsenwar Family</h3>
            <p class="family_bio">The best family in the world. We have fun by eating watermelon.</p>
            

        </div>


        <div class="container">
            <div class="left">

                <div class="messages">
                    <div class="heading">
                        <h4>Family Members</h4>
                    </div>
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--start of middle-->
            <div class="middle">

                <!-- Feed -->
                <div class="feeds">
                    <!-- feed 1  -->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{url_for('static', filename='./images/profile2.png')}}">
                                </div>
                                <div class="info">
                                    <h3>Family Name</h3>
                                    <small>time stamp</small>
                                </div>
                            </div>
                        </div>
                            <div class="photo">
                                <img src="https://www.parents.com/thmb/HoBACbXVxkm6nhnb4sbtrkz6EPs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1447338583-d091945837dc4bc8aa2f5f73d99f63e0.jpg">
                            </div>
                            <div class="action-button">
                                <div class="interaction-buttons">
                                    <span class="ph--heart"></span>
                                    <span class="iconamoon--comment-bold"></span>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{{url_for('static', filename='./images/profile1.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile2.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile3.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile4.png')}}"></span>
                                <p>Liked by <b>Abdelrahman Rashad</b> and <b>2,333 others</b></p>
                            </div>
                            <div class="caption">
                                <p><b>username</b> description</p>
                            </div>
                            <div class="text-muted comments">View all 200 comments</div>
                        
                    </div>
                    <!-- feed 1 end  -->


                    <!-- feed 2  -->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{url_for('static', filename='./images/profile2.png')}}">
                                </div>
                                <div class="info">
                                    <h3>Family Name</h3>
                                    <small>time stamp</small>
                                </div>
                            </div>
                        </div>
                            <div class="photo">
                                <img src="https://www.parents.com/thmb/HoBACbXVxkm6nhnb4sbtrkz6EPs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1447338583-d091945837dc4bc8aa2f5f73d99f63e0.jpg">
                            </div>
                            <div class="action-button">
                                <div class="interaction-buttons">
                                    <span class="ph--heart"></span>
                                    <span class="iconamoon--comment-bold"></span>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{{url_for('static', filename='./images/profile1.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile2.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile3.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile4.png')}}"></span>
                                <p>Liked by <b>Abdelrahman Rashad</b> and <b>2,333 others</b></p>
                            </div>
                            <div class="caption">
                                <p><b>username</b> description</p>
                            </div>
                            <div class="text-muted comments">View all 200 comments</div>
                        
                    </div>
                    <!-- feed 2 end  -->


                    <!-- feed 3  -->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{url_for('static', filename='./images/profile2.png')}}">
                                </div>
                                <div class="info">
                                    <h3>Family Name</h3>
                                    <small>time stamp</small>
                                </div>
                            </div>
                        </div>
                            <div class="photo">
                                <img src="https://www.parents.com/thmb/HoBACbXVxkm6nhnb4sbtrkz6EPs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1447338583-d091945837dc4bc8aa2f5f73d99f63e0.jpg">
                            </div>
                            <div class="action-button">
                                <div class="interaction-buttons">
                                    <span class="ph--heart"></span>
                                    <span class="iconamoon--comment-bold"></span>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{{url_for('static', filename='./images/profile1.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile2.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile3.png')}}"></span>
                                <span><img src="{{url_for('static', filename='./images/profile4.png')}}"></span>
                                <p>Liked by <b>Abdelrahman Rashad</b> and <b>2,333 others</b></p>
                            </div>
                            <div class="caption">
                                <p><b>username</b> description</p>
                            </div>
                            <div class="text-muted comments">View all 200 comments</div>
                        
                    </div>
                    <!-- feed 3 end  -->
                </div>
                <!-- end Feed -->
            <!--end of middle-->
            </div>
            <!-- RIGHT  -->
            <div class="right">
                <div class="messages">
                    <div class="heading">
                        <h4>Followings</h4>
                    </div>
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>

                    <div class="message">
                        <div class="profile-photo">
                            <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Tarek Shalaby</h5>
                            <p class="text-bold">Dlo3et El3ila</p>
                        </div>
                    </div>
                </div>
            <!-- end of right  -->
            </div>
        </div>

            
    </main>
</body>

</html>