<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homefeed.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600;1,700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="icon" type="image/png" href="{{url_for("static",filename='images/icon.png')}}">
<script>
    $(document).ready(function(){
        $(document).on('click', '.ph--heart', function(event){
            event.preventDefault();
            var button = $(this);
            var postId = button.data('post-id');
            var form = button.closest('form');
            
            $.ajax({
                type: 'POST',
                url: '/like_post',
                data: form.serialize(),
                success: function(response){
                    if (response.status === 'liked') {
                        button.removeClass('ph--heart').addClass('ph--heart-liked');
                    } else {
                        alert("Failed to like post.");
                    }
                },
                error: function(xhr, status, error){
                    console.error("Error occurred:", error);
                    alert("Error occurred while liking the post.");
                }
            });
        });

        $(document).on('click', '.ph--heart-liked', function(event){
            event.preventDefault();
            var button = $(this);
            var postId = button.data('post-id');
            var form = button.closest('form');
            
            $.ajax({
                type: 'POST',
                url: '/unlike_post',
                data: form.serialize(),
                success: function(response){
                    if (response.status === 'unliked') {
                        button.removeClass('ph--heart-liked').addClass('ph--heart');
                    } else {
                        alert("Failed to unlike post.");
                    }
                },
                error: function(xhr, status, error){
                    console.error("Error occurred:", error);
                    alert("Error occurred while unliking the post.");
                }
            });
        });
        $(document).on('click', '.Follow', function(event){
            event.preventDefault();
            var button = $(this);
            var Id = button.data('family.id');
            var form = button.closest('form');
            
            $.ajax({
                type: 'POST',
                url: '/follow_family',
                data: form.serialize(),
                success: function(response){
                    if (response.status === 'followed') {
                        button.text('Followed');
                        button.css('cursor', 'default');
                        button.css('background-color', '#9e98b3');
                        button.prop('disabled', true);
                    } else {
                        alert("Failed to unlike post.");
                    }
                },
                error: function(xhr, status, error){
                    console.error("Error occurred:", error);
                    alert("Error occurred while unliking the post.");
                }
            });
        });
        //follow
    });
</script>
</head>
<body>
    <nav>
        <div class="container">
            <h2 class="log">Reunion</h2>
            <div class="search-bar">
                <span class="lucide--search"></span>
                <input type="search" placeholder="Search for Families or Friends">
            </div>
            <div class="create">
                <div class="profile-photo">
                    <img src="{{User.photo}}">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="left">
                <a class="profile">
                    <div class="profile-photo">
                        <img src="{{User.photo}}">
                    </div>
                    <div class="handle">
                        <h4> {{User.FirstName}} {{User.lastname}}</h4>
                        <p class="text-muted">
                            @ {{User.username}}
                        </p>
                    </div>
                </a>

            <!-- side bar-->
                <div class="sidebar">
                    <a class="active menu-item">
                        <span><span class="ant-design--home-outlined"></span></span> <h3>Home</h3>
                    </a>
                    <a class="menu-item" href="{{ url_for('user', username=User.username) }}">
                        <span><span class="iconoir--profile-circle"></span></span> <h3>Profile</h3>
                    </a>
                    <a class="menu-item" href="{{ url_for('family_page', family_id=User.FamilyID) }}">
                        <span><span class="icon-park-outline--family"></span></span> <h3>My Family</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><span class="ph--bell"></span><small class="notification-count">3</small></span> <h3>Notifications</h3>
                        <!--notification popup window-->
                        <div class="notification-popup">
                            <div>
                            <div class="profile-photo">
                                <img src="{{url_for('static', filename='./images/profile2.png')}}">
                            </div>
                            <div class="notification-body">
                                <b>Tarek Shalaby</b> begs you to be friends
                                <small class="text-muted">3 DAYS AGO</small>
                            </div>
                            </div>
                            <div>
                            <div class="profile-photo">
                                <img src="{{url_for('static', filename='./images/profile3.png')}}">
                            </div>
                            <div class="notification-body">
                                <b>Abdelrahman Rashad</b> begs you to be friends
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                            </div>
                            <div>
                            <div class="profile-photo">
                                <img src="{{url_for('static', filename='./images/profile4.png')}}">
                            </div>
                            <div class="notification-body">
                                <b>Mohammed Elsayed</b> begs you to be friends
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                            </div>
                            <!-- end of notification popup window-->
                        </div>
                    </a>
                    <a class="menu-item" href="{{ url_for('logout') }}">
                        <span><span class="circum--logout"></span></span> <h3>Logout</h3>
                    </a>
                </div>
                <label for="create-post" class="btn btn-primary">Create Post</label>
                <!--end of sidebar-->
            </div>
            <!--start of middle-->
            <div class="middle">
                <form method = "POST" class="create-post" enctype="multipart/form-data">
                    {{form.hidden_tag()}}

                    <div class="profile-photo">
                        <img  src="{{User.photo}}">
                    </div>

                    {{  form.description(id="create-post")
                    }}

                    <span class="charm--image btn post-images">
                        {{form.postImage(accept="image/*", style="display: hidden;", id="post-images")}}
                       <!-- <input type="file" accept="image/*" style="display: hidden;" id="post-images">-->
                    </span>
                    <span class="solar--album-bold btn album-images">
                        {{form.albumImage(accept="image/*", style="display: hidden;", id="album-images")}}
                        <!-- <input type="file" accept="image/*" style="display: hidden;" id="album-images"> -->
                    </span>
                    <div class="dropdown">
                        <div class="dropdown-select">
                            <span class="ic--outline-privacy-tip btn"  id="selectedIcon"></span>
                        </div>
                        <div class="dropdown-list" style="display:none;">
                            <div class="dropdown-item" data-icon="ic--outline-lock"><span data-post-type = "0" class="ic--outline-lock btn"></span></div>
                            <div class="dropdown-item" data-icon="ic--outline-key"><span data-post-type = "1" class="solar--planet-broken btn"></span></div>
                        </div>
                    </div>

                    {{form.visibility(type = "hidden", class = "add-post-visibility", value="1")}}

                    {{form.userID(type = "hidden", value = User.id)}}

                    {{form.type(type = "hidden", class ="add-post-type")}} 



                    {{form.submit(class="btn btn-primary")}}

                </form>

                <!-- Feed -->
                <div class="feeds">
                    <!-- feed 1  -->
                    {% for post in Posts %}
                    <!--post-->
                    {% if post[3].visibility == 1 and post[3].Type == 1%}
                    
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{post[5].profilephoto}}">
                                </div>
                                <div class="info">
                                    <h3>{{ post[2].username }}</h3>
                                    <small>{{ post[3].timestamp }}</small>
                                </div>
                            </div>
                        </div>
                            <div class="photo">
                                <img src="{{ post[4].photoUrl }}">
                            </div>
                            <div class="action-button">
                                <div class="interaction-buttons">
                                    {% if post[3].id in Liked %}
                                        <form class="unlike-form" method="POST">
                                            <input type="hidden" name="name" id="name" value="{{ post[3].id }}">
                                            <button type="button" class="ph--heart-liked" data-post-id="{{ post[3].id }}"></button>
                                        </form>
                                    {% else %}
                                        <form class="like-form" method="POST">
                                            <input type="hidden" name="name" id="name" value="{{ post[3].id }}">
                                            <button type="button" class="ph--heart" data-post-id="{{ post[3].id }}"></button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{{ post[2].photo }}"></span>
                                <p>Liked by <b>{{post[-1]}}</b> people</p>
                            </div>
                            <div class="caption">
                                <p><b>{{ post[2].username }}</b> {{ post[3].description }}</p>
                            </div>
                        
                    </div>
                    {% endif %}

                    <!--album-->
                    {% if post[3].visibility == 1 and post[3].Type == 0%}
                    
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{post[5].profilephoto}}">
                                    <h1>{{post[0].familyname}}</h1>
                                </div>
                                <div class="info">
                                    <h3>{{ post[2].username }}</h3>
                                    <small>{{ post[3].timestamp }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="album-caption">
                            <h4> {{ post[3].description }} </h4>
                        </div>
                            <div class="photo album-photo">
                                <img src="{{ post[4].photoUrl }}">
                            </div>
                            <div class="action-button">
                                <div class="interaction-buttons">
                                    {% if post[3].id in Liked %}
                                        <form class="unlike-form" method="POST">
                                            <input type="hidden" name="name" id="name" value="{{ post[3].id }}">
                                            <button type="button" class="ph--heart-liked" data-post-id="{{ post[3].id }}"></button>
                                        </form>
                                    {% else %}
                                        <form class="like-form" method="POST">
                                            <input type="hidden" name="name" id="name" value="{{ post[3].id }}">
                                            <button type="button" class="ph--heart" data-post-id="{{ post[3].id }}"></button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{{ post[2].photo }}"></span>
                                <p>Liked by <b>{{post[-1]}}</b> people</p>
                            </div>
                    </div>
                    {% endif %}

                    {% endfor %}
                    <!-- feed 1 end  -->
                </div>
                <!-- end Feed -->
            <!--end of middle-->
            </div>
            <!-- RIGHT  -->
            <div class="right">
                <div class="friend-requests">
                    <h4>Follow Families</h4>
                    {% for family in Families %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="{{family.profilephoto}}">
                            </div>
                            <div>
                                <h5>{{ family.familyname }}</h5>
                            </div>
                        </div>
                        <form class="follow" method="POST">
                            <input type="hidden" name="name" id="name" value="{{ family.id }}">
                            <button type="button" class="btn btn-primary Follow" data-post-id="{{ family.id }}"> Follow </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            <!-- end of rieght  -->
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='homefeed.js')}}"></script>
</body>
</html>

