<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css' ) }}">
    <link rel="stylesheet" href="style.css">
    <title>Modern Login Page | AsmrProg</title>
{% endblock %}
{% block body %}
<header><h1>Reunion</h1></header>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message fade">
                    <span>{{ message }}</span>
                    <svg class="close-btn" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 7.586L5.707 5.293a1 1 0 1 0-1.414 1.414L6.586 8 4.293 10.293a1 1 0 0 0 1.414 1.414L8 9.414l2.293 2.293a1 1 0 0 0 1.414-1.414L9.414 8l2.293-2.293a1 1 0 1 0-1.414-1.414L8 6.586 5.707 4.293a1 1 0 1 0-1.414 1.414L6.586 8l-2.293 2.293a1 1 0 0 0 0 1.414 1 1 0 0 0 1.414 0L8 9.414l2.293 2.293a1 1 0 0 0 1.414-1.414L9.414 8l2.293-2.293a1 1 0 0 0-1.414-1.414L8 6.586z" clip-rule="evenodd"/>
                    </svg>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<main>
<div class="container" id="container">
    <div class="form-container sign-up">
      <form name="action" value="signup" method="post" novalidate >
        {{sform.hidden_tag()}}
        <h1>Create Account</h1>
        <div class="social-icons"></div>
        {{sform.username()}}
        {{sform.email()}}
        {{sform.password()}}
        <div class="checkbox-family">
          <div class="checkbox-wrapper-12">
              <div class="cbx">
                {{ sform.toggle(id='cbx-12', onchange="toggleTextField()") }}
                <label for="cbx-12"></label>
                <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                  <path d="M2 8.36364L6.23077 12L13 2"></path>
                </svg>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                  <filter id="goo-12">
                    <fegaussianblur in="SourceGraphic" stddeviation="4" result="blur"></fegaussianblur>
                    <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo-12"></fecolormatrix>
                    <feblend in="SourceGraphic" in2="goo-12"></feblend>
                  </filter>
                </defs>
              </svg>
          </div>
          <b>Join a family?</b>
        </div>
        {{ sform.family_id(id="familyTextField", placeholder="Family ID") }}
        {{sform.submit()}}
      </form>
    </div>
    <div class="form-container sign-in">
        <form action="{{ url_for('login') }}" method="post" novalidate name="action" value="signin" >
          {{form.hidden_tag()}}
          <h1>Sign in</h1>
          <div class="social-icons">
          </div>
            {{form.email()}}
            {{form.password()}}
          <a href="#">Forgot Your Password ?</a>
          {{form.log()}}
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='login.js' ) }}"></script>
</div>
</main>
{% endblock %}
