<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css' ) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>profile page</title>
    <link rel="icon" type="image/png" href="{{url_for("static",filename='images/icon.png')}}">
{% endblock %}
    

{% block body %}
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <h1>Reunion</h1>                
            </div>
            <div class="navigations">
                <ul>
                    <li class="menu-item"><a href="{{ url_for('feedPage', username=user.username) }}"><span class="icon"><i class="fa-solid fa-house"></i></span> <span>Home</span> </a></li>
                    <li class="menu-item"><a><span class="icon"><i class="fa-solid fa-bell"></i></span> <span>Notifications</span> </a></li>
                    <li class="menu-item"><a><span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span> <span>Search</span> </a></li>
                    <li class="menu-item"><a href="{{ url_for('user', username=current_user.username) }}"><span class="icon"><i class="fa-regular fa-circle"></i></span> <span>Profile</span> </a></li>
                    <li class="menu-item"><a href="{{ url_for('feedPage', username=current_user.username) }}"><span class="icon"><i class="fa-regular fa-compass"></i></span> <span>Explore</span> </a></li>
                    <li class="menu-item"><a href="{{ url_for('family_page', family_id=current_user.FamilyID) }}"><span class="icon"><i class="fa-regular fa-compass"></i></span> <span>My Family</span> </a></li>
                </ul>
            </div>
        </div>
        
        <div class="section">
            <div class="userinfo">
                <div class="profile-image">
                    <img src="{{user.photo}}">
                </div>
                <div class="data">
                    <div class="row1">
                        <h3>{{user.username}}</h3>
                        {% if current_user.username == user.username%}
                        <button>Edit profile</button>
                        <button>Add Post</button>
                        {% endif %}
                        
                    </div>
                    <div class="row2">
                        <div class="inf"><h3>First name</h3> <p>{{user.FirstName}}</p></div>
                        <div class="inf"><h3>Last name</h3> <p>{{user.lastname}}</p></div>
                        <div class="inf"><h3>birthdate</h3> <p>{{user.Birthdate}}</p></div>
                    </div>
                    <div class="row3">
                        <div class="inf"><h3>Family</h3><p>{{user_family.familyname}}</p></div>
                        
                        <p>{{user.bio}}</p>
                    </div>
                </div>
            </div>
            
            
            <div class="posts">

            </div>
        </div>
    </div>
{% endblock %}