
:root {
    --color-white: hsl(252,30%,100%);
    --color-light: hsl(252,30%,95%);
    --color-gray:hsl(252,15%,65%);
    --color-primary:hsl(252,75%,60%);
    --color-secondary:hsl(252,100%,90%);
    --color-success:hsl(120,95%,65%);
    --color-danger:hsl(0,95%,65%);
    --color-dark:hsl(252,30%,17%);
    --color-black:hsl(252,30%,10%);
    
    --border-radius:2rem;
    --card-border-raduis:1rem;
    --btn-padding:0.6rem 1rem;
    --card-padding:1rem;
    --search-padding:0.6rem 1rem;
    
    --sticky-top-left:5.4rem;
    --sticky-top-right:-18rem;
 }
body{
    background: var(--color-light);
    overflow-x: hidden;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
}

 .search-bar{
    background: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    border: 0;
}

 .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
    border: 0;
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
    border: 0;
}


.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.container a{
    --rem: 16;
    --color-white: hsl(252,30%,100%);
    --color-light: hsl(252,30%,95%);
    --color-gray: #9e98b3;
    --color-primary: hsl(252,75%,60%);
    --color-secondary: hsl(252,100%,90%);
    --color-success: hsl(120,95%,65%);
    --color-danger: hsl(0,95%,65%);
    --color-dark: hsl(252,30%,17%);
    --color-black: hsl(252,30%,10%);
    --border-radius: 2rem;
    --card-border-raduis: 1rem;
    --btn-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --search-padding: 0.6rem 1rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    font-family: "Poppins",sans-serif;
    color: var(--color-dark);
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
.container .section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-grow: 1;
    padding: 20px;
}
.container .section .userinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    background: var;
    background-color: var(--color-white);
    padding: 78px;
    border-radius: 25px;
    margin-top: 5em;
}

.userinfo .data{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.userinfo .data .row1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.row1 button{
    background: var(--color-primary);
    padding: 7px 20px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
}

.row2{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.row2 .inf{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.row3{
    display: flex;
    flex-direction: column;
}
.row3 .inf{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.profile-image {
    width: 150px; /* Size of the profile picture */
    height: 150px; /* Ensure the width and height are equal for a circle */
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Ensures nothing extends outside the circle */
    border: 3px solid #333; /* Optional: adds a border around the image */
    margin-right: 20px; /* Space between image and info */
    
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the space without distortion */
}









.container .sidebar{
    width: 20%;
    background-color: var(--color-light);
    padding: 20px;
    height: 100vh; /* Full-height viewport */
    margin-top: 5em;
    
}

.sidebar .logo h1{
    display: flex;
    justify-content: center;
}

.container .sidebar .navigations ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-white);
    border-radius: var(--card-border-raduis);
}

.container .sidebar .navigations ul li{
    position: relative; /* needed for absolute positioning of ::before */
    padding: 30px 20px; /* vertical and horizontal padding */
    cursor: pointer; /* change cursor to pointer to indicate clickability */
    transition: background-color 0.3s;
}

.container .sidebar .navigations ul li a{
    text-decoration: none; /* remove underline from links */
    color: black; /* default text color */
    /* display: block;  */
    display: flex;
}

.navigations a .icon{
    padding-right: 5px;
}

.navigations li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: transparent; /* initial color transparent */
    transition: background-color 0.3s; /* smooth transition for background color */
    
}

/* Hover effects */
.navigations li:hover {
    background-color: #ddd; /* light grey background on hover */
    
}

.navigations li:hover a {
    color: #333; /* darker text color on hover */
}

.navigations li:hover::before {
    background-color: var(--color-primary); /* green bar on the left on hover */

}




@import url( "https : // fonts .googleapis.com/css2?family—Poppins:wght@300;400;500;600&display=swap");

:root {
--color-white: hsl(252,30%,100%);
--color-light: hsl(252,30%,95%);
--color-gray:#9e98b3;
--color-primary:hsl(252,75%,60%);
--color-secondary:hsl(252,100%,90%);
--color-success:hsl(120,95%,65%);
--color-danger:hsl(0,95%,65%);
--color-dark:hsl(252,30%,17%);
--color-black:hsl(252,30%,10%);

--border-radius:2rem;
--card-border-raduis:1rem;
--btn-padding:0.6rem 1rem;
--card-padding:1rem;
--search-padding:0.6rem 1rem;

--sticky-top-left:5.4rem;
--sticky-top-right:-18rem;
}
.text-bold{
    font-weight: 500;
}
*,
*::before,
*::after{
margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
}
body{
    font-family: "Poppins",sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.tabler--logout {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M14 8V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2'/%3E%3Cpath d='M9 12h12l-3-3m0 6l3-3'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-park-outline--family {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='4'%3E%3Cpath d='M10 19s-5.143 2-6 9m34-9s5.143 2 6 9m-26-9s4.8 1.167 6 7m6-7s-4.8 1.167-6 7m-4 8s-4.2.75-6 6m14-6s4.2.75 6 6'/%3E%3Ccircle cx='24' cy='31' r='5' stroke-linejoin='round'/%3E%3Ccircle cx='34' cy='14' r='6' stroke-linejoin='round'/%3E%3Ccircle cx='14' cy='14' r='6' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color: white;
}
.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

 .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

.create label{
    display: none;
}
.create span{
    display: none;
}



.ant-design--home-outlined {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2M568 868H456V664h112zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7l23.1 23.1L882 542.3z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
